h2 {
  text-align: center;
  padding: 20px 0;
}

table {
  width: 100%;
  border: 1px solid #000;
  max-width:100%;
}

th, td {
  text-align: left;
  vertical-align: center;
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 0.3em;
  caption-side: bottom;

}

th:last-child {
  white-space:nowrap;
}

caption {
  padding: 0.3em;
  color: #fff;
  background: #000;
}

th {
  background: #eee;
}